.img-container{
    width: 300px;
    height: 300px;
    overflow: hidden;
    border: 1px solid black;
    margin: 0 auto; 
    padding: 10px;
}

.img-container img{
    width:100%;
    height: 100%;
    object-fit: contain;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.canvas-container{
    display: inline-block;
    /* checkerboard pattern */
    background-image: linear-gradient(45deg, #333 25%, transparent 25%), linear-gradient(-45deg, #333 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #333 75%), linear-gradient(-45deg, transparent 75%, #333 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
    padding: 20px;
    border-radius: 8px;
    max-width: 50%;
}

.border-creator{
    padding: 20px;
}

.border-display-container{
    margin-top: 20px;
}

.options-container{
    margin-bottom: 20px;
}

.border-colour-label{
    margin-left: 20px;
}

.download-button{
    margin-left: 20px;
    padding: 5px 10px; 
}

.canvas-img{
    max-width: 100%;
}

.dropzone-container{
    margin: 20px 0;
    padding: 20px;
    border: 2px dashed #444;
    border-radius: 8px;
}
.image-carousel-span{
    margin-left: 10px;
    margin-right: 10px;
}
.carousel-controls{
    margin-bottom: 15px;
    align-items: center;
    gap: 10px;
}